# Pandas Series
+ A pandas Series is like a column in a table
+ It is a one-dimensional array holding data of any type

In [13]:
import pandas as pd

In [14]:
a = [1, 7, 2]
myvar = pd.Series(a)
myvar

0    1
1    7
2    2
dtype: int64

#### Create Labels

In [15]:
a = [1, 7, 2]
myvar = pd.Series(a, index=['x', 'y', 'z'])
myvar

x    1
y    7
z    2
dtype: int64

#### Key/Value objects as series
+ We can also use a key/value object, like a dictionary, when creating a Series.

In [16]:
calories = {
    "day1" : 420,
    "day2" : 320,
    "day3" : 410,
    "day4" : 390,
}
myvar = pd.Series(calories)
myvar

day1    420
day2    320
day3    410
day4    390
dtype: int64

In [22]:
calories = {
    "day1" : 420,
    "day2" : 320,
    "day3" : 410,
    "day4" : 444,
}
myvar = pd.Series(calories, index=["day1", "day4"])
myvar

day1    420
day4    444
dtype: int64

In [25]:
data = {
    "calories" : [420, 380, 390],
    "duration" : [50, 40, 45]
}
myvar = pd.DataFrame(data)
myvar

   calories  duration
0       420        50
1       380        40
2       390        45