# Pandas DataFrames

In [1]:
import pandas as pd

In [ ]:
data = {
    "calories" : [350, 341, 1000],
    "duration" : [50, 40, 45]
}
df = pd.DataFrame(data)
df

   calories  duration
0       350        50
1       341        40
2      1000        45

In [5]:
# it will return a series
df.loc[0]

calories    350
duration     50
Name: 0, dtype: int64

In [6]:
# it will return a dataframe
df.loc[[0]]

   calories  duration
0       350        50

#### Named indexs
+ With the index argument, you can name your own indexes

In [8]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data, index=['day1', 'day2', 'day3'])
df

      calories  duration
day1       420        50
day2       380        40
day3       390        45